{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        {{ post.title }}
    </div>
    <div class="card-body">
        <p>{{ post.content }}</p>
        <p><small>Posted on {{ post.friendly_date }}</small></p>
        <a href="{{ url_for('posts_edit', post_id=post.id) }}" class="button">Edit</a>
        <form action="{{ url_for('posts_destroy', post_id=post.id) }}" method="POST" style="display:inline;">
            {{ form.hidden_tag() }}
            <button type="submit" class="button">Delete</button>
        </form>
    </div>
</div>
{% endblock %}
