# Ignore virtual environment directory
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables file
.env

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore macOS specific files
.DS_Store